@model LmycDataLib.Models.Boat

@{
    ViewBag.Title = "Details";
}


    <h2>Detailed Information</h2>

    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BoatName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BoatName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                <img src="@Html.DisplayFor(model => model.Picture)" width="200" height="120" />
                <br />@Html.DisplayFor(model => model.Picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LengthInFeet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LengthInFeet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Make)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Make)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecordCreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecordCreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.BoatId })

        }
        | @Html.ActionLink("Back to List", "Index")
    </p>


