@model IEnumerable<LmycDataLib.Models.Boat>

@{
    ViewBag.Title = "Index";
}

<h2>List of Boats</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthInFeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoatName)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Picture)" width="140" height="85" />
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthInFeet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
			@if (Request.IsAuthenticated)
            {
                if(User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BoatId}) 
                    <text> | </text>
                    @Html.ActionLink("Details", "Details", new { id = item.BoatId})
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.BoatId})
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.BoatId})
                }
            }

        </td>
    </tr>
}

</table>
